@font-face {
  font-family: 'Chomsky';
  src: local('Alex'), url(../src/dist/Chomsky.otf) format('truetype');
}

@font-face {
  font-family: 'Heathergreen';
  src: local('Alex'),
    url(../src/heathergreen/Heathergreen.otf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.paper__title {
  margin: 0 10%;
  border-bottom: 1px solid black;
}

.news__part {
  display: flex;
}

.head__text {
  text-align: center;
  font-family: 'Chomsky';
  font-size: 90px;
  letter-spacing: 10px;
}

.owner__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
  padding: 10px;
  border-bottom: 1px solid black;
}

.owner__info a {
  text-decoration: none;
  color: black;
}

.all__news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  margin: 0 auto !important;
}

.news {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 10px 10px;
}

@media (max-width: 768px) {
  .head__text {
    font-size: 2rem;
    letter-spacing: 5px;
  }
  .all__news {
    display: grid;
    grid-template-columns: 1fr;
    columns: 1;
    margin: 0 auto !important;
  }
  .owner__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin: 0 10%; */
    font-size: 8px;
  }
  .news {
    max-width: 75vw;
    margin: 10px !important;
    padding: 5px;
  }
}

.news__data {
  margin-bottom: 10px;
}

.news__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.news__description {
  padding: 10px;
  line-height: 20px;
  font-size: 16px;
  height: 350px;
  text-align: justify;
  background-color: rgb(253, 253, 253);
  margin: 10px 0;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.news__author,
.news__published {
  display: inline-block;
}

.news__author {
  margin-right: 10px;
  color: gray;
}

.news__published {
  margin-right: 10px;
}

.news__source a {
  text-decoration: none;
  color: grey;
}
